#canvasHolder
{
    background-color: aquamarine;
    width: 80%;
    height: 45em;
    margin: auto;
}

#GameCanvas{
    width: 100%;
    height: 100%;
    background-color: azure;
    border-radius: 1em;
}

body{
    margin: 0em;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,65,121,0.6756043821900756) 35%, rgba(0,212,255,1) 100%);
}

#Title{
    color: antiquewhite;
    margin: 0em;
}

#upperMeny{
    background-color: black;
    margin: 0em;
    width: 100%;
    height: 2em;
}

footer{
    width: 100%;
    height: 2em;
    text-align: center;
    background-color: blanchedalmond;
    margin: auto;
    margin-bottom: 0em;
}